

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    font-size: 25px;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

.container{
    width: 70%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    background-image: url("img/blackjack-bg1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
   
}

.table-setup{
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.logo {
    position: absolute;
    background-image: url("img/blackjack-logo3.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 200px;
    top: 0;
    left: 0;

  }
.title{
    color: goldenrod;
    font-size: 1.5em;
    flex: 1;

}

.msg{
    color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
}
.cards{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.card{
    max-width: 100px;
}
.btns{
    width: 60%;
    display: flex;    
    gap: 8px;
    justify-content: center;
    flex: 1;
}
.btn{
    padding: 1em;
    min-width: 100px;
    flex:1;
    align-self: flex-start;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    box-shadow: inset 0 0 15px rgba(255,255,255, 0.986);
}
.hit{
    background-color: red;
}
.newgame{
    background-color: green;
}
.result{
    font-size: 18px;
    color: aqua;
}

@media screen and (min-width: 501px) {
    .table-setup{
        /* width:  100%; */
        margin-top: 25vh;
    }    
    .card{
        max-width: 2.5em;
    }
    .title{
        font-size: 1em;
    }
    .msg{
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .table-setup{
        flex-wrap: wrap;
        width: 98vw;
        margin-top: 22vh;
    }  
    .card{
        max-width: 1.5em;
    }
    .title{
        font-size: 0.7em;
        margin: 0;
    }
    .msg{
        word-wrap: break-word;
        max-width: 25ch;
        font-size: 0.50em;
        text-align: center;    
       margin: 0 0 3px;
       min-height: 2.7em;
    }
    .logo{
        max-width: 50px;
    }
    .btn{
        padding: 0.75em;
        max-width: 40px;
        flex: 1 2 0;
        /* align-self: flex-start;
        border: none;
        border-radius: 10px; */
    }
}

