

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    font-size: 25px;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}
.container{
    width: 70%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-grow: 1;

    /* background-image: url("/docs/img/blackjack-bg1.jpg"); */
    background-image: url("./img/blackjack-bg1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    position: relative;
}
.table-setup{
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    bottom: 30%;
}
.title{
    color: goldenrod;
    font-size: 1.5 rem;
}
.msg{
    color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cards{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.card{
    max-width: 150px;
}
.btns{
    width: 60%;
    display: flex;    
    gap: 8px;
    justify-content: center;
    flex: 1;
}
.btn{
    padding: 1em;
    max-width: 200px;
    flex:1;
    align-self: flex-start;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}
.btn:hover{
    box-shadow: inset 0 0 15px rgba(255,255,255, 0.986);
}
.hit{
    background-color: red;
}
.newgame{
    background-color: green;
}
.result{
    font-size: 18px;
    color: aqua;
}

@media screen and (min-width: 821px)
{
    .table-setup{
        top: 18%;
        bottom: 30%;
    }
    .cards{
        margin-bottom: 5px;
        /* border: 3px solid blue; */
    }
    .card{
        width: 130px;
        margin-bottom:5px;
    }
    .result{
        font-size: 18px;
        color: aqua;
    }
}

@media screen and (min-width: 675px) and (max-width: 820px){
    .table-setup{
        top: 25%;
        bottom: 30%;
    }
    .cards{
        margin-bottom: 5px;
        /* border: 3px solid blue; */
    }
    .card{
        width: 110px;
        margin-bottom:5px;
    }
    .msg{
        font-size: 18px;
    }
    .btn{
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 3px;
    }
    .result{
        font-size: 18px;
        color: aqua;
    }
}

@media screen and (min-width: 575px) and (max-width: 674px){

    .table-setup{
        top: 29%;
        bottom: 40%;
    }
    .cards{
        margin: 0;
    }
    .card{
        width: 90px;
        margin-bottom: 5px;
        padding: 0;
    }
    .title{
        font-size: 20px;
    }
    .msg{
        font-size: 16px;
    }
    .btn{
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 3px;
    }
    .result{
        font-size: 18px;
        color: aqua;
    }
}

@media screen and (min-width: 491px) and (max-width: 574px){

    .table-setup{
        top: 31%;
        bottom: 40%;
    }
    .cards{
        margin: 0;
    }
    .card{
        width: 75px;
        margin-bottom: 5px;
        padding: 0;
    }
    .title{
        font-size: 20px;
    }
    .msg{
        font-size: 17px;
    }
    .btn{
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 3px;
    }
    .result{
        font-size: 18px;
        color: aqua;
    }
}

@media screen and (max-width: 490px) {
    body{
        min-width: 415px;
    }
    .table-setup{
        top: 33%;
        bottom: 40%;
    }
    .cards{
        margin: 0;
    }
    .card{
        width: 65px;
        margin-bottom: 5px;
        padding: 0;
    }
    .title{
        font-size: 20px;
    }
    .msg{
        font-size: 15px;
    }
    .btn{
        font-size: 10px;
        font-weight: 700;
        margin-bottom: 3px;
    }
    .result{
        font-size: 18px;
        color: aqua;
    }
}
